{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'fwb/css/materialize.min.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'fwb/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="#" class="brand-logo">FWB</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Login</a></li>
                <li><a href="#">Signup</a></li>
                <li><a href="#" class="btn z-depth-0">Want to Invest</a></li>
            </ul>

            <ul id="slide-out" class="sidenav">
                <li>
                    <div class="user-view">
                        <div class="background">
                            <img src="https://materializecss.com/images/office.jpg">
                        </div>
                        <a href="#user"><img class="circle" src="https://materializecss.com/images/yuna.jpg"></a>
                        <a href="#name"><span class="white-text name">John Doe</span></a>
                        <a href="#email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a class="waves-effect" href="#!"><i class="material-icons waves-effect">dashboard</i>Dashboard</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">dialpad</i>EMI Calculator</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">power_settings_new</i>Login</a></li>
                <li><a class="waves-effect" href="#!"><i class="material-icons">exit_to_app</i>Logout</a></li>
            </ul>
            <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div> 
    </nav>
{% block body %}
{% endblock %}

<footer class="page-footer grey darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Useful Links</h5>
                <ul>
                    <li><a class="white-text" href="#!">Sitemap</a></li>
                    <li><a class="white-text" href="#!">EMI Calculator</a></li>
                    <li><a class="white-text" href="#!">Want to invest</a></li>
                    <li><a class="white-text" href="#!">Borrow money</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Facbook</a></li>
                    <li><a class="white-text" href="#!">Twitter</a></li>
                    <li><a class="white-text" href="#!">Instagram</a></li>
                    <li><a class="white-text" href="#!">Gmail</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a></div>
    </div>
  </footer>

    
    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'fwb/js/materialize.min.js' %}"></script>
    <script src="{% static 'fwb/js/init.js' %}"></script>
    {% block scripts %}
    {% endblock %}
    </body>
</html>



